<div class="container">
  <div class="text-center">
    <% if current_user %>
    <h2>Sign Out</h2>
    <p>You are already signed in, click below to log out.</p>
    <%= button_to 'Sign Out', '/logout', id: 'signout',:class => "btn btn-primary center-block", :method => "get"%>    <% else %>
    <h2>Sign In</h2>
    <%= button_to 'Sign in with Facebook', 'auth/facebook', id: 'sign_in',:class => "btn btn-primary center-block", :method => "get" %>
    <% end %>
  </div>
</div>