<div class="container">
  <div class="caption">Create a New Request</div>
  <%= form_for(@user,url: update_path(@user)) do |f| %>
  <div class="field">
    <table id="table">
    <tr class="header-row">
        <td><%= f.label :user_type, "User Type" %></td>
      </tr>
      
      <tr class="row">
        <td><%= f.text_field :user_type %></td>
      </tr>
      </table
      </div>
    </div>
    <div class="actions">
        <%= f.submit "Create" %>
    </div>
    <% end %>
</div>