
  <div class="container">
    
    <%= form_for(@request) do |f| %>
    <div class="field">
      <%= f.label :requests %><br>
      <%= f.text_field :FirstName %>
    </div>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
    <% end %>
  </div>