<div class = "container"> 
    <div class="caption"><h1>View Individual Location</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Location Name</th>
                <th>Location Address</th>
                <th>Location Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @location.name %></td> 
                <td><%= @location.address %></td>
                <td><%= @location.locationType %></td>
                <td class="tableButton"><%= link_to 'Delete', location_path(@location.id), :method => :DELETE  %></td>
            </tr>
        </tbody>
    </table>
</div>
    

